<div class="main">
    <h2>Projects</h2>
        <li>MEAN Stack Gift Card Software for BYU Faculty</li>
        <br>
        <li>Vue based Dating Site with NodeJS, Express and MongoDB</li>
        <p>Found at <a href="http://creative4.jeffarnell.org">creative4.jeffarnell.org</a></p>
        <li>Python DNA Analysis Program</li>
        <p>Downloadable at <a href="https://github.com/arnellja/PythonDNATools.git">https://github.com/arnellja/PythonDNATools.git</a></p>
        <li>Python Snake Game</li>
        <br>
        <li>Java text-based Monopoly Game</li>
        <li>Animated Java SpaceShip Game</li>
        <p>Java Games can be found at <a href="https://github.com/arnellja/JavaSimpleGames.git">https://github.com/arnellja/JavaSimpleGames.git</a></p>
        <li>Various Java Applied Calculus and Statistical Programs</li>
        <p style="margin-bottom: 0px;">Statistical Projects can be found at <a href="https://github.com/arnellja/JavaStatistics.git">https://github.com/arnellja/JavaStatistics.git</a></p>
        <p>Projects involving Calculus can be found at <a href="https://github.com/arnellja/JavaCalculus.git">https://github.com/arnellja/JavaCalculus.git</a></p>
        <li>C++ Datalog Compiler</li>
        <br>
        <li>Various simple HTML and CSS Sites</li>
        <p>Such as <a href="http://creative3.jeffarnell.org">http://creative3.jeffarnell.org</a></p>
        <br>
        <br>
        <br>
        <br>
        <footer>
            <a href="https://github.com/arnellja">Link to Github Account</a>
        </footer>   
    </div>
