<!--<div class="main-header">
    <h1>Jeffrey Arnell Portfolio</h1>
</div>-->
<div class="main">
    <h2>Education</h2>
        <li>
            Brigham Young University<br>Provo, Utah<br>May 2017 - Present
        </li>
        <br>
    <h2>Work Experience</h2>
        <li>
            IT Administrator and Application Developer<br>BYU Administrative Solutions
        </li>
        <br>
    <h2>Notable Projects</h2>
        <li>MEAN Stack Gift Card Software for BYU Faculty</li>
        <li>Vue based Dating Site with NodeJS, Express and MongoDB</li>
        <li>Python DNA Analysis Program</li>
        <li>Python Snake Game</li>
        <li>Java text-based Monopoly Game</li>
        <li>Animated Java SpaceShip Game</li>
        <li>Various Java Applied Calculus and Statistical Programs</li>
        <li>C++ Datalog Compiler</li>
        <li>Various simple HTML and CSS Sites</li>
        <br>
    <h2>Skills</h2>
    <div style="display:flex; justify-content: center; text-align: center;">
        <ul>
            <li>C++</li>
            <li>Java</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>PHP</li>
            <li>TypeScript</li>
            <li>Angular</li>
        </ul>
        <ul>
            <li>Vue</li>
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>NodeJS</li>
            <li>HTML5</li>
            <li>CSS</li>
            <li>Docker</li>
        </ul>
    </div>
    <h2>Awards</h2>
        <li>Utah Valley University Dean's List (2020)</li>
        <li>National Merit Commended Scholar (2017)</li>
        <li>High School Academic All-American (2017)</li>
        <li>Invited to NIKE Rising Stars Track Camp (2015)</li>
        
</div>